/* error page css */

.error-page{
    text-align: center;
    font-size: 700;
}

/* Details Page */
.detail-chart{
    width: 65%;
    margin: 1rem auto;
}
.h2{
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
.btn{
    margin:0 auto;
    text-align: center;
}
.primary-button{
    padding:1rem;
    font-weight: bold;
    background-color: var(--primary-color);
    cursor: pointer;
}